# version: '3.9'

services:
  backend:
    build:
      context: ./docker/php
    container_name: laravel_app
    volumes:
      - ./backend:/var/www
    working_dir: /var/www/backend
    command: php artisan serve --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    depends_on:
      - mysql

  frontend:
    image: node:20
    container_name: react_app
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - CHOKIDAR_INTERVAL=1000
    command: npm start

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_db
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin_app
    links:
      - mysql:db
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      PMA_ARBITRARY: 1
    depends_on:
      - mysql

volumes:
  mysql_data:
