@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
}

/* Custom utility for resume preview container */
.resume-preview {
  @apply bg-white shadow rounded p-6;
}
